*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;

}
.container{
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* content ko center mein place karne ke liye  */
    /* top and bottom: 0 margin */
    /* left and right: auto margin, hence effectively centering it */
    padding: 20px;
}
.container h1{
    text-align: center;
    margin: 10px 0;
    font-family:fantasy;
    margin-bottom: 20px;
    font-size: 3rem;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    
}
